{% extends 'index.html' %}


{% block body %}
<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://img.freepik.com/vector-gratis/conjunto-iconos-avatares_98292-764.jpg?w=740&t=st=1666105494~exp=1666106094~hmac=47294691d6ba3fdffb67f3b231efa141a4a2b08837f55acd5947532057c2e8a6"
                class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            
            <ul class="list-group text-center h4">
                <li class="list-group-item "><h3 ><i>Panel de gestión de usuarios</i></h3></li>
                <li class="list-group-item "><a href="{% url 'usuario:crear_usuarios' %}"><i>Registrar nuevo usuario</i></a></li>
                <li class="list-group-item "><a href="{% url 'usuario:listar_usuarios' %}"><i>Listar usuarios registrados</i></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body%}